
.App { 
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cart{
  grid-area: cart;
  border: solid;
  padding: 10px;
}

.grid{
  margin-left: 25px;
  padding : 25px;
  margin-top: 100px;
  margin-bottom: 25px;
  display: grid;
  height: 1000px;
  width: auto;
  
  grid-template-columns: 1fr 1fr 1fr 300px;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas: 
    "p1 p2 p3 cart"
    "p4 p5 p6 cart"
    "p7 p8 p9 cart";
   gap: 50px;
}

h1{

  margin-left: 25px;

}

#img{

  height: 200px;
  width: 500px;
}


@media only screen and (max-width: 1200px) /* special spettings for small screens */
{

  .grid{
    margin-left: 25px;
    padding : 25px;
    margin-top: 100px;
    margin-bottom: 25px;
    display: grid;
    height: 1000px;
    width: auto;
    
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
    grid-template-areas: 
      "p1 cart"
      "p2 cart"
      "p3 cart"
      "p4 cart"
      "p5 cart"
      "p6 cart"
      "p7 cart"
      "p8 cart"
      "p9 cart"

  }

#img{

  height: 100px;
  width: 200px;
}
}